html{
background-image: url("../img/background.jpg");

}

body{
 margin-left: 10%; 
  overflow: hidden;
}
.game{
  display: flex;
}
@font-face {
  font-family: "HyruleFont";
  src: url("../Custom-fonts/HyliaSerifBeta-Regular.otf");
}
input{
  font-family: "HyruleFont";
  border: 0;
  color: red;
  background-color: black;
  width: 236px;
  height: 61px;
  font-size: 31px;
  border-radius: 20px;
  margin-left: 3px;
  cursor: pointer;
}
.shortcuts{
  border: solid;
  background-image: url("../img/header.jpg");
   background-repeat: none; 
  /* width: 87%; */
  height: 200px;
  display: flex;
  align-items: center;
}
input:hover{
  color:blue;
}


